{% extends 'layout.html.twig' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div id="pageContent" class="page-content">
        <section class="content" id="slider">
            <div class="tp-banner-container layout4">
                <div class="tp-banner">
                    <ul>
                        <!-- SLIDE  -->

                        <li data-transition="fade" data-slotamount="1" data-masterspeed="1000"
                            data-saveperformance="off" data-title="Slide">
                            <!-- MAIN IMAGE -->
                            <div class="bg-fon">
                            </div>
                            <div class="tp-caption tp-caption-img  lfr ltr rs-parallaxlevel-3"
                                 data-x="right"
                                 data-y="-30"
                                 data-speed="1000"
                                 data-start="1200"
                                 data-easing="Power4.easeOut"
                                 style="z-index: 6;"><img src="{{ asset('assets/images/ishop/slides/slide-01-1.png') }}"
                                                          alt="Image2"></div>
                            <div class="tp-caption  lfr ltr rs-parallaxlevel-3"
                                 data-x="right"
                                 data-y="-30"
                                 data-speed="1000"
                                 data-start="700"
                                 data-easing="Power4.easeOut"
                                 style="z-index: 5;"><img src="{{ asset('assets/images/ishop/slides/slide-01-2.png') }}"
                                                          alt="Image3"></div>

                            <div class="tp-caption tp-caption-img  rs-parallaxlevel-3"
                                 data-x="right"
                                 data-y="-30"
                                 data-speed="1000"
                                 data-start="2000"
                                 data-easing="Power4.easeOut"
                                 style="z-index: 7;"><img src="{{ asset('assets/images/ishop/slides/slide-01-3.png') }}"
                                                          alt="Image3"></div>
                            <div class="tp-caption  tp-caption-img rs-parallaxlevel-3"
                                 data-x="right"
                                 data-y="-30"
                                 data-speed="1000"
                                 data-start="1500"
                                 data-easing="Power4.easeOut"
                                 style="z-index: 5;"><img src="{{ asset('assets/images/ishop/slides/slide-01-4.png') }}"
                                                          alt="Image3"></div>
                        </li>

                        <!-- SLIDE  -->
                        <li data-transition="fade" data-slotamount="1" data-masterspeed="1000"
                            data-saveperformance="off" data-title="Slide">
                            <!-- MAIN IMAGE -->
                            <img src="{{ asset('assets/images/ishop/slides/slide-2.jpg') }}" alt="slide2"
                                 data-bgposition="center center"
                                 data-bgfit="cover" data-bgrepeat="no-repeat">
                            <!-- LAYERS -->
                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption tp-caption--wd-5 lfb ltt"
                                 data-x="center"
                                 data-y="center"
                                 data-voffset="-70"
                                 data-speed="600"
                                 data-start="900"
                                 data-easing="Power4.easeOut"
                                 data-endeasing="Power4.easeIn"
                                 style="z-index: 10;">The Most Popular Store
                            </div>
                            <!-- IMAGE NR. 1 -->
                            <div class="tp-caption  lft ltt rs-parallaxlevel-1"
                                 data-x="650"
                                 data-y="0"
                                 data-speed="900"
                                 data-start="1000"
                                 data-easing="Power4.easeOut"
                                 style="z-index: 5;"><img src="{{ asset('assets/images/ishop/slides/s7.png') }}"
                                                          alt="Image1"></div>

                            <!-- IMAGE NR. 2 -->
                            <div class="tp-caption  lfr ltr rs-parallaxlevel-3"
                                 data-x="900"
                                 data-y="130"
                                 data-speed="1000"
                                 data-start="1200"
                                 data-easing="Power4.easeOut"
                                 style="z-index: 5;"><img src="{{ asset('assets/images/ishop/slides/s11.png') }}"
                                                          alt="Image2"></div>

                            <!-- IMAGE NR. 3 -->
                            <div class="tp-caption  lft ltt rs-parallaxlevel-2"
                                 data-x="-100"
                                 data-y="-10"
                                 data-speed="900"
                                 data-start="1400"
                                 data-easing="Power4.easeOut"
                                 style="z-index: 5;"><img src="{{ asset('assets/images/ishop/slides/s1.png') }}"
                                                          alt="Image3"></div>

                            <!-- IMAGE NR. 4 -->
                            <div class="tp-caption  lfb ltb rs-parallaxlevel-2"
                                 data-x="-100"
                                 data-y="300"
                                 data-speed="900"
                                 data-start="1600"
                                 data-easing="Power4.easeOut"
                                 style="z-index: 6;"><img src="{{ asset('assets/images/ishop/slides/s2.png') }}"
                                                          alt="Image4"></div>

                            <!-- IMAGE NR. 5 -->
                            <div class="tp-caption  lfb ltb rs-parallaxlevel-1"
                                 data-x="690"
                                 data-y="430"
                                 data-speed="900"
                                 data-start="1000"
                                 data-easing="Power4.easeOut"
                                 style="z-index: 5;"><img src="{{ asset('assets/images/ishop/slides/s12.png') }}"
                                                          alt="Image5"></div>

                            <!-- IMAGE NR. 6 -->
                            <div class="tp-caption  fadeIn fadeOut rs-parallaxlevel-2"
                                 data-x="100"
                                 data-y="150"
                                 data-speed="900"
                                 data-start="1200"
                                 data-easing="Power4.easeOut"
                                 style="z-index: 6;"><img src="{{ asset('assets/images/ishop/slides/s4.png') }}"
                                                          alt="Image6"></div>

                            <!-- IMAGE NR. 7 -->
                            <div class="tp-caption  lfb ltb rs-parallaxlevel-3"
                                 data-x="330"
                                 data-y="620"
                                 data-speed="900"
                                 data-start="2000"
                                 data-easing="Power4.easeOut"
                                 style="z-index: 6;"><img src="{{ asset('assets/images/ishop/slides/s9.png') }}"
                                                          alt="Image7"></div>

                            <!-- IMAGE NR. 8 -->
                            <div class="tp-caption  lft ltt rs-parallaxlevel-2"
                                 data-x="350"
                                 data-y="0"
                                 data-speed="900"
                                 data-start="600"
                                 data-easing="Power4.easeOut"
                                 style="z-index: 7;"><img src="{{ asset('assets/images/ishop/slides/s6.png') }}"
                                                          alt="Image8"></div>

                            <!-- IMAGE NR. 9 -->
                            <div class="tp-caption  lfr ltr rs-parallaxlevel-2"
                                 data-x="950"
                                 data-y="600"
                                 data-speed="900"
                                 data-start="2400"
                                 data-easing="Power4.easeOut"
                                 style="z-index: 7;"><img src="{{ asset('assets/images/ishop/slides/s13.png') }}"
                                                          alt="Image9"></div>

                            <!-- IMAGE NR. 10 -->
                            <div class="tp-caption  lfb ltb rs-parallaxlevel-2"
                                 data-x="120"
                                 data-y="600"
                                 data-speed="900"
                                 data-start="1600"
                                 data-easing="Power4.easeOut"
                                 style="z-index: 7;"><img src="{{ asset('assets/images/ishop/slides/s5.png') }}"
                                                          alt="Image10"></div>

                            <!-- IMAGE NR. 11 -->
                            <div class="tp-caption  lft ltt rs-parallaxlevel-2"
                                 data-x="900"
                                 data-y="-20"
                                 data-speed="900"
                                 data-start="1000"
                                 data-easing="Power4.easeOut"
                                 style="z-index: 7;"><img src="{{ asset('assets/images/ishop/slides/s10.png') }}"
                                                          alt="Image11"></div>

                            <!-- IMAGE NR. 12 -->
                            <div class="tp-caption  lft ltt rs-parallaxlevel-2"
                                 data-x="140"
                                 data-y="-20"
                                 data-speed="900"
                                 data-start="800"
                                 data-easing="Power4.easeOut"
                                 style="z-index: 7;"><img src="{{ asset('assets/images/ishop/slides/s3.png') }}"
                                                          alt="Image12"></div>

                            <!-- IMAGE NR. 13 -->
                            <div class="tp-caption  fadeIn fadeOut rs-parallaxlevel-2"
                                 data-x="480"
                                 data-y="500"
                                 data-speed="900"
                                 data-start="1800"
                                 data-easing="Power4.easeOut"
                                 style="z-index: 7;"><img src="{{ asset('assets/images/ishop/slides/s8.png') }}"
                                                          alt="Image13"></div>
                        </li>
                    </ul>
                </div>
                <div class="scroll-to-content hidden-xs"><a href="#" class="btn btn--round btn--round--lg"><span
                                class="icon icon-arrow-down"></span></a></div>
            </div>
        </section>
        <!-- Content section -->
        <section class="content top-indent1">
            <div class="container">
                <h2 class="text-center text-uppercase">Nouveaux Produits</h2>
                <div class="row product-carousel-layout4 mobile-special-arrows animated-arrows product-grid products-listing four-in-row rows-2">
                    <!--  -->
                    {% for product in products %}
                        <div class="product-preview-wrapper">
                            <div class="product-preview">
                                {% if product.getFirstImage %}
                                    <div class="product-preview__image">
                                        <a href="{{ path('app_product_view', {'id': product.id}) }}">
                                            <img src="{{ asset('uploads/' ~ product.getFirstImage.name) }}"
                                                 data-lazy="{{ asset('uploads/' ~ product.getFirstImage.name) }}"
                                                 alt=""/>
                                        </a>
                                    </div>
                                {% else %}
                                    <div class="product-preview__image">
                                        <a href="{{ path('app_product_view', {'id': product.id}) }}">
                                            <img src="{{ asset('assets/images/products/product-empty.png')}}"
                                                    data-lazy="{{ asset('assets/images/products/product-empty.png')}}" alt=""/>
                                        </a>
                                    </div>
                                {% endif %}
                                <div class="product-preview__label product-preview__label--right product-preview__label--sale">
                                    {% if product.transactionType == 'A' %}
                                        <span>Achat Immédiat</span>
                                    {% else %}
                                        <span>Enchère</span>
                                    {% endif %}
                                </div>
                                <div class="product-preview__info text-center">
                                    <div class="product-preview__info__title">
                                        <h2><a href="#">{{ product.name }} </a></h2>
                                    </div>
                                    <div class="price-box ">
                                        <span class="price-box__new">{{ product.getMaxPrice }} DT</span>
                                    </div>
                                    <div class="product-preview__info__description">
                                        <p>{{ product.shortDescription }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>
{% endblock %}
